.editor-wrapper {
  position: relative;
  width: 100%;
  height: 64.5%;
}

.textarea {
  border: 3px solid #1e1e1e;
  outline: none;
  resize: none;
  border-radius: 6px;
}

/* Hide scrollbar for clean editor look */
.textarea::-webkit-scrollbar {
  width: 8px;
}
.textarea::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

/* Run button on top-right */
.run-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: #007acc;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-weight: bold;
  font-size: 14px;
  z-index: 99;
  transition: 0.2s;
}

.run-btn:hover {
  background: #085990;
}

.run-btn:active {
  transform: scale(0.95);
}
