.sidebar-div {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-heading {
  margin: 20px 0px;
  color: aliceblue;
}
.user-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  color: aliceblue;
  font-size: large;
}
