.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  justify-content: center;
  margin: 10px;
  padding: 0 5px;
}

.avatar {
  height: 48px;
  width: 48px;
  background-color: #ec4899; /* Pink bubble */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.username {
  font-size: 17px;
  text-transform: capitalize;
  color: #e5e7eb;
}
